<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tjmj.serviceadmin.dao.AdminLogin">

    <select id="getUserBypsd"  resultType="cn.tjmj.serviceadmin.entity.Admin">
        SELECT * FROM tb_admin WHERE adpsw=#{adpsw}
    </select>

    <select id="getUserByToken" resultType="cn.tjmj.serviceadmin.entity.Admin">
        SELECT * FROM tb_admin WHERE token=#{token}
    </select>
</mapper>
